on:
  release:
    types: [created]

jobs:
  release:
    name: release ${{ matrix.platform.release_for }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - release_for: Linux-x86_64
            os: ubuntu-latest
            goos: linux
            goarch: amd64
            bin: freecarnival
            name: freecarnival_${{ github.ref_name }}_Linux-x86_64.tar.gz
            extra_files: "README.md LICENSE"
          - release_for: Windows-x86_64
            os: ubuntu-latest
            goos: windows
            goarch: amd64
            bin: freecarnival.exe
            name: freecarnival_${{ github.ref_name }}_Windows-x86_64.zip
            extra_files: "README.md LICENSE"
          - release_for: macOS-x86_64
            os: ubuntu-latest
            goos: darwin
            goarch: amd64
            bin: freecarnival
            name: freecarnival_${{ github.ref_name }}_macOS-x86_64.tar.gz
            extra_files: "README.md LICENSE"
          - release_for: macOS-arm64
            os: ubuntu-latest
            goos: darwin
            goarch: arm64
            bin: freecarnival
            name: freecarnival_${{ github.ref_name }}_macOS-arm64.tar.gz
            extra_files: "README.md LICENSE"

    runs-on: ${{ matrix.platform.os }}
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'
          
      - name: Build binary
        env:
          GOOS: ${{ matrix.platform.goos }}
          GOARCH: ${{ matrix.platform.goarch }}
          CGO_ENABLED: 0
        run: |
          go build -o ${{ matrix.platform.bin }} -ldflags="-s -w" .
          
      - name: Package as archive
        shell: bash
        run: |
          mkdir -p dist
          if [[ "${{ matrix.platform.goos }}" == "windows" ]]; then
            zip ${{ matrix.platform.name }} ${{ matrix.platform.bin }} ${{ matrix.platform.extra_files }}
          else
            tar czvf ${{ matrix.platform.name }} ${{ matrix.platform.bin }} ${{ matrix.platform.extra_files }}
          fi
          
      - name: Generate SHA256
        shell: bash
        run: shasum -a 256 ${{ matrix.platform.name }} > ${{ matrix.platform.name }}.sha256sum
        
      - name: Upload artifacts
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: "${{ matrix.platform.name }}*"
